<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <div class="box has-background-light">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <h1 class="title has-text-centered"> Edite sus datos </h1>

<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :phone %><br />
          <%= f.text_field :phone %>
        </div>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="input-field">
          <%= f.label :image %>
          <%= f.file_field :image %>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Actualizar" %>
        </div>
      <% end %>

      <h3>Cerrar mi cuenta</h3>

      <div>Infeliz? <%= button_to "Cerrar mi cuenta", registration_path(resource_name), data: { confirm: "Estás seguro?", turbo_confirm: "Estás seguro?" }, method: :delete %></div>

      <%= link_to "Volver", :back %>

    </div>
  </div>
</div>
