<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://github.com/IIC2143/2023-1-grupo-26.git">
        <span class="icon is-large">
        <i class="fas fa-home fa-stack-2x"></i>
        </span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

    <div class="navbar-end">
      <% if user_signed_in? %>
        <% if current_user.image.attached? %>
          <div class="navbar-item">
          <%= image_tag(current_user.image, style: "height: 70px;")%>
          </div>
        <% end %>
        <div class="navbar-item">
        <p>Bienvenid@ <%= current_user.name %></p>
        </div>
        <div class="navbar-item">
        <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "button is-light" %>
        </div>
      <% else %>
        <div class="navbar-item">
            <%= link_to "Crear cuenta", new_user_registration_path, class: "button is-ghost"%>
        </div>
        <div class="navbar-item">
          <%= link_to "Ingresar", new_user_session_path, class: "button is-light" %>
        </div>
      <% end %>
    </div>
  </div>
</nav>

<header>
<h1 class="has-text-centered">Mis Solicitudes</h1>
<nav class="breadcrumb">
    <ul class="container">
      <li><%= link_to "Volver", :inicio %></li>
    </ul>
  </nav>
</header>
<body>
<ul class="container">
  <table class="table is-bordered is-striped">
    <tr>
			<th>Solicitud</th>
      <th>Descripción</th>
			<th>Fecha</th>
			<th>Estado</th>
		</tr>
  <% @requests.each do |request| %>
    <tr>
    <td>
      <%= link_to "Solicitud #{request.id}", request_path(@user, request) %>
    </td>
    <td><%= request.description %></td>
    <td><%= request.request_date %></td>
    <td><%= request.status %></td>
    </tr>
  <% end %>
</ul>
</body>