<h1>Crear producto</h1>
<%= form_with model: @product do |form| %>
<div>
 <%= form.label :Nombre %><br>
 <%= form.text_field :name %>
 <% @product.errors.full_messages_for(:name).each do |message| %>
 <div><%= message %></div>
 <% end %>
</div>
<div>
 <%= form.label :descripción %><br>
 <%= form.text_area :description %>
<% @product.errors.full_messages_for(:description).each do |message| %>
 <div><%= message %></div>
 <% end %>
</div>
<div>
 <%= form.label :Vendedor %><br>
 <%= form.text_area :seller %>
<% @product.errors.full_messages_for(:seller).each do |message| %>
 <div><%= message %></div>
 <% end %>
</div>
<div>
 <%= form.label :precio %><br>
 <%= form.text_area :price %>
<% @product.errors.full_messages_for(:price).each do |message| %>
 <div><%= message %></div>
 <% end %>
</div>
<div>
 <%= form.label :categoría %><br>
 <%= form.select :category , ['Tecnología', 'Hogar', 'Calzado', 'Moda'] %>
<% @product.errors.full_messages_for(:category).each do |message| %>
 <div><%= message %></div>
 <% end %>
</div>
<div class="input-field">
          <%= form.label :image %>
          <%= form.file_field :image %>
</div>
<div>
 <%= form.submit %>
</div>
<% end %>