<!DOCTYPE html>
<html>
  <head>

    <!-- importar bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.0.1/css/bulma.min.css">

    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/minty/bulmaswatch.min.css">

    <! -- tema de bulma (cambia los colores) -->
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    
    <title>Mysite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media:'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <!--
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>

  <% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>
  -->
  
    <%= yield %>
  </body>
</html>
